
<ul>
<% @userpost.each do |userpost| %>
  <li>
  <div class= "postdiv">
  <div class="row">
    <div class="col s12 m9 offset-m2">
      <div class="card transparent">
        <div class="card-content white-text">
          <span class="card-title"> <%= userpost.title %> </span>
          <p style="font-size:16px;color:white"><%= userpost.classification %></p>
        </div>
        <div class="card-action">
         <p style="font-size:16px;color:white"><%= userpost.description %></p>
       <p style="font-size:16px;color:white"> ID: <%= userpost.id %></p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br>
  <br>
    </li>
<% end %>
</ul>       
