 <form action='/deleteaccount' method='POST' class='pull-right'>
    <input type='hidden' name='_method' value='DELETE'/>
    <button type='submit' class='super-sport' value="DELETE ACCOUNT<%=@user.username%>">DELETE ACCOUNT</button>
  </form>