<form class="center" action="/kill" method="post">
      <input type="text" name="somethingelse" id="" required>
      <br><br>
      <input class="red btn-large" type="submit"id="somethingelse" value="Delete post"> 
      <br><br><br>
    </form>


   