<br><br>
<div class="row">
    <div class="col s12 m5 offset-m1">
<p style="color: white; font-size: bold; text-align: center"> If you are certain on deleting a post<br> please input the ID </p>
<form class="center" action="/kill" method="post">
      <input type="text" style="color: white; text-align: center;" name="somethingelse" id="" required>
      <br><br>
      <input class="red btn-large" type="submit"id="somethingelse" value="Delete post"> 
      <br><br>
              <a href="/userpost" class="waves-effect waves-light btn #ffca28 amber darken-1"><%= @current_post %> ID Checker</a>
<br>
    </form>
</div>
</div>

   