<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<div class="hero-image">
<br>
  <div class="hero-text"><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class = "principal_font">F_UMBLER <br></div>
  </div>
</div>
<div class="logo">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="col s2">
        <img src="images/logo.jpg" alt="" class="circle responsive-img"> </div>      
    </div>
</div>

<br><br>
  <div class = "opening_caption">Welcome to this platform <br> a place where we can blog about our driven passion for <div class = "principal_font_2">Barca </div></div><br>

<div class = "container">
        <div class="row">
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/1.jpg">
                <span class="card-title">Ter Stegen </span>
              </div>
              <div class="card-content">
                <p>1 Goalkeeper</p>
                <a href="http://https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/ter-stegen">Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/2.jpg">
                <span class="card-title">Nelson Semedo</span>
              </div>
              <div class="card-content">
                <p>2 Defender</p>
               <a href="http:// https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/nelson-semedo"> Bio</a>
              </div>
            </div>
          </div>
     
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/3.jpg">
                <span class="card-title">Pique</span>
              </div>
              <div class="card-content">
                <p>3 Defender</p>
              <a href="http://https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/pique"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/4.jpg">
                <span class="card-title">Rakitic</span>
              </div>
              <div class="card-content">
                <p>4 Midfielder </p>
               <a href="http://https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/rakitic"> Bio</a>
              </div>
            </div>
          </div>

    <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/5.jpg">
                <span class="card-title">Busques</span>
              </div>
              <div class="card-content">
             <p>5 Midfielder </p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/sergio"> Bio</a>
              </div>
            </div>
          </div>

<div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/6.jpg">
                <span class="card-title">Denis Suarez</span>
              </div>
              <div class="card-content">
             <p>6 Midfielder </p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/suarez"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/7.jpg">
                <span class="card-title">Coutihno</span>
              </div>
              <div class="card-content">
             <p>7 Midfielder </p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/philippe-coutinho"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/8.jpg">
                <span class="card-title">Arthur</span>
              </div>
              <div class="card-content">
             <p>8 Midfielder </p>
            <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/arthur"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/9.jpg">
                <span class="card-title">Luis Suarez</span>
              </div>
              <div class="card-content">
             <p>9 Foward </p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/luis-suarez"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/10.jpg">
                <span class="card-title">Messi</span>
              </div>
              <div class="card-content">
             <p>10 Foward</p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/messi"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/11.jpg">
                <span class="card-title">Dembele</span>
              </div>
              <div class="card-content">
             <p>11 Foward</p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/ousmane-dembele"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/12.jpg">
                <span class="card-title">Rafhina</span>
              </div>
              <div class="card-content">
             <p>12 Midfielder</p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/rafinha_alcantara"> Bio</a>
              </div>
            </div>
          </div>

                <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/13.jpg">
                <span class="card-title">Cillessen</span>
              </div>
              <div class="card-content">
             <p>13 Goalkeeper</p>
               <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/jasper-cillessen"> Bio</a>
              </div>
            </div>
          </div>

                <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/14.jpg">
                <span class="card-title">Malcom</span>
              </div>
              <div class="card-content">
             <p>14 Foward</p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/malcom"> Bio</a>
              </div>
            </div>
          </div>

                <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/15.jpg">
                <span class="card-title">Lenglet</span>
              </div>
              <div class="card-content">
             <p>15 Defender</p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/clement-lenglet"> Bio</a>
              </div>
            </div>
          </div>

                <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/16.jpg">
                <span class="card-title">Samper</span>
              </div>
              <div class="card-content">
             <p>16 Midfielder</p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/sergi-samper"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/18.jpg">
                <span class="card-title">Jordi Alba</span>
              </div>
              <div class="card-content">
             <p>18 Defender</p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/jordi-alba"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/19.jpg">
                <span class="card-title">Munir</span>
              </div>
              <div class="card-content">
             <p>19 Foward</p>
                <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/munir-el-haddadi"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/20.jpg">
                <span class="card-title">S. Roberto</span>
              </div>
              <div class="card-content">
             <p>20 Midfielder</p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/sergiroberto"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/22.jpg">
                <span class="card-title">Arthuro Vidal</span>
              </div>
              <div class="card-content">
             <p>22 Midfielder</p>
              <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/arturo-vidal"> Bio</a>
              </div>
            </div>
          </div>


          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/23.jpg">
                <span class="card-title">Umtiti</span>
              </div>
              <div class="card-content">
             <p>23 Defender</p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/samuel-umtiti"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/24.jpg">
                <span class="card-title">Vermaelen</span>
              </div>
              <div class="card-content">
             <p>24 Defender</p>
              <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/vermaelen"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/26.jpg">
                <span class="card-title">Alena</span>
              </div>
              <div class="card-content">
             <p>26 Midfielder</p>
             <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/carles-alena"> Bio</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/0.jpg">
                <span class="card-title">Ernesto Valverde</span>
              </div>
              <div class="card-content">
             <p>COACH</p>
              <a href="https://www.fcbarcelona.com/football/first-team/staff/players/2018-2019/ernesto-valverde"> Bio</a>
              </div>
            </div>
          </div>
            </div>
     <a href="/Testing.pdf" target="_blank" download class="waves-effect waves-light btn #ffca28 amber darken-1 right">Fun Facts</a> 
</body>
</html>

