<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

  <div class="hero-image">
    <div class="hero-text">
    <div class = "shadow_text"><h1 style="font-size:50px">FC BARCELONA</h1></div>
    <div class = "shadow_text"><p style="font-size:25px">It is more than a club, it is HOME
      </p></div>
    </div>
  </div>
<br><br><br><br>

<h2>Welcome to Fumblr.</h2>
<div class="supercenter"> <h4> A site where we can blog and share among other cules, <br>what we love best 
Barcelona's life</h4> </div>
<br><br><br><br>

<div class = "container">
        <div class="row">
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/1.jpg">
                <span class="card-title">Ter Stegen</span>
              </div>
              <div class="card-content">
                <p>1 Goalkeeper</p>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/2.jpg">
                <span class="card-title">Nelson Semedo</span>
              </div>
              <div class="card-content">
                <p>2 Defender</p>
              </div>
            </div>
          </div>

     
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/3.jpg">
                <span class="card-title">Pique</span>
              </div>
              <div class="card-content">
                <p>3 Defender</p>
              </div>
            </div>
          </div>

        
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/4.jpg">
                <span class="card-title">Rakitic</span>
              </div>
              <div class="card-content">
                <p>4 Midfielder </p>
              </div>
            </div>
          </div>

    <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/5.jpg">
                <span class="card-title">Busques</span>
              </div>
              <div class="card-content">
             <p>5 Midfielder </p>
              </div>
            </div>
          </div>

<div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/6.jpg">
                <span class="card-title">Denis Suarez</span>
              </div>
              <div class="card-content">
             <p>6 Midfielder </p>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/7.jpg">
                <span class="card-title">Coutihno</span>
              </div>
              <div class="card-content">
             <p>7 Midfielder </p>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/8.jpg">
                <span class="card-title">Arthur</span>
              </div>
              <div class="card-content">
             <p>8 Midfielder </p>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/9.jpg">
                <span class="card-title">Luis Suarez</span>
              </div>
              <div class="card-content">
             <p>9 Foward </p>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/10.jpg">
                <span class="card-title">Messi</span>
              </div>
              <div class="card-content">
             <p>10 Foward</p>
              </div>
            </div>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/11.jpg">
                <span class="card-title">Dembele</span>
              </div>
              <div class="card-content">
             <p>11 Foward</p>
              </div>
            </div>
          </div>


          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <img src="images/12.jpg">
                <span class="card-title">Rafhina</span>
              </div>
              <div class="card-content">
             <p>12 Midfielder</p>
              </div>
            </div>
          </div>
            </div>





 <p><a href="Testing.pdf" target="_blank" download>test</a></p> 
</body>

</html>

