<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pages</title>
    <link rel="stylesheet" href="/main.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>

<body>
  <div class = "mynavbar" id="navbar"> 
  <a href="/" class="waves-effect waves-light btn #ffca28 amber darken-1">HOME</a>

    <% if session[:user_id] %>
      <a href="/logout" class="waves-effect waves-light btn #ffca28 amber darken-1">LOG OUT</a>
      <a href="/users" class="waves-effect waves-light btn #ffca28 amber darken-1">USERS</a>
      <a href="/my_page" class="waves-effect waves-light btn #ffca28 amber darken-1">MY PAGE</a>
    <% else %>
      <a href="/sign_up" class="waves-effect waves-light btn #ffca28 amber darken-1">SIGN UP</a>
      <a href="/sign_in" class="waves-effect waves-light btn #ffca28 amber darken-1">SIGN IN</a>
    <% end %>
  </div> 
<div class="row">
    <div class="col s12 m5 offset-m1">
  <% if flash[:info] %>
    <div id="flash-info">
      <%= flash[:info] %>
    </div>
  <% end %>
  </div>
</div>

<div class="row">
    <div class="col s12 m5 offset-m1">
  <% if flash[:alert] %>
    <div id="flash-alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
  </div>
</div>

  

  <%= yield %>
<br><br>
<br>  <footer>
  <div class="footer"> FC Barcelona <br>
© Copyright FC Barcelona registered to FBado, NYCDA </div>
<br>
</footer>
</body>
</html>