<form action="/userposts" method="post">
  <input type="text" name="title" id="">
  <textarea name="description" id="" cols="30" rows="10"></textarea>
  <input type="text" name="username" id="">
  <input type="submit" value="Create post">
</form>