<div class="row">
 <div class="col m8 s10 offset-m2">
  <form action="/show_content" method="POST">
   <h5 class="title">Add Post</h5>
     <div class="body">
       <label for="title">Title</label>
       <input style="font-size:16px;color:white" name="title" type="text">
     </div>
     <div>
       <label for="body">class</label>
       <textarea style="font-size:16px;color:white" name="classification"> </textarea>
     </div>
     <div>
       <label for="body">Body</label>
       <textarea style="font-size:16px;color:white" name="description"> </textarea>
     </div>
     <div class="footer">
           <button class="waves-effect waves-light btn #ffca28 amber darken-1 left">Create Post</button>
           <a href="/kill" class="waves-effect waves-light btn red darken-1 right">DELETE POST</a>

     </div>
  </form>
 </div>
</div>

<br>

<div class="row">
  <div class='col m4 offset-m2'>
     <p style="font-size:16px;color:white">All Posts
       <a href="/alluserposts" class="waves-effect waves-light btn #ffca28 amber darken-1"><%= @all_post %></a>
  </p>
    </div>
    <div class='col m4 offset-m2'>
     <p style="font-size:16px;color:white">Post created by You
        <a href="/userpost" class="waves-effect waves-light btn #ffca28 amber darken-1"><%= @current_post %></a>
             </p>
    </div>
  </div>
 </div>






 

 