
      <h6 style="font-size: 30px;color: white; text-align: center;"> THE LOCKER ROOM</h6>
<br><br>
  <div class="row">
    <div class="col s12 m5 offset-m1">
      <div class="card">
        <div class="card-image">
          <img src="images/sign_in.png"style="height: 300px;" >
        </div>
      </div>
    </div>
 <br>
  <div class="col s12 m4 offset-m1">
     <form action="/sign_in" method="post">
        <i class="material-icons prefix">account_circle</i>
     <input type="text" name="username" id="" placeholder="Username" style="color: white">
        <i class="material-icons prefix">account_circle</i>    
     <input type="password" name="password" id="" placeholder="Password" style="color: white"> <br><br>
      <button class="btn waves-effect waves-light #ffca28 amber darken-1 right" type="submit" name="action">Sign In
       <i class="material-icons right">send</i>
     </form>
  </div>
</div>