<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="images/locker_room.jpg">
          <span class="card-title">SIGN UP</span>
        </div>
        
      </div>
    </div>
  </div>




<h2>Create an account</h2>

<div class="row">
  <div class="col s12 l6">
  <form action="/sign_up" method="post">
  <i class="material-icons prefix">account_circle</i>
  Username:
  <input type="text" name="username" id="" placeholder="Username"><br><br>
  Password:
  <input type="password" name="password" id="" placeholder="Password"><br><br>
 <i class="material-icons prefix">account_circle</i>
  Name: 
  <input type="text" name="first_name" id="" placeholder="First name"><br><br>
  <i class="material-icons prefix">account_circle</i>
  Last Name: 
  <input type="text" name="last_name" id="" placeholder="Last name"><br><br>
  Email:
  <input type="text" name="email" id="" placeholder="123@provider.com"><br><br>
  Birthday:
  <input type="date" name="birthday" id="" placeholder=""><br>
<input type="submit" value="Sign Up!">
</form>
</div>
</div>








        
  