#flash-info {
  background-color: #c5cae9;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  padding: 15px;
}



#flash-alert {
  background-color: #72142e;
  color: white;
  border-radius: 2px;
  font-size: 15px;
  padding: 15px;
}

body {
  background-image: linear-gradient(#0f2a56, #72142e, #0f2a56, #72142e);
 font-family: Roboto, Helvetica, Arial, sans-serif
} 


.shadow_text{
  text-align: center!important;
  color: white;
}

.landing{
  width: 80%;
}
 
h2 {
font-size: 70px; 
color: white; 
  padding: 10px; 
  margin-top: 50px; 
  text-align: center
}

#navbar {
  position:sticky;
  top: 0;
  padding-top: 10px;
  margin-right: 10px;
  text-align: right;
  z-index: 99;
  color: white; 
}

h3 { 
  padding-left: 400px; 
}


h5 {
  margin-top: 50px; 
  font-size: 20px ; 
  text-align: justify;
  line-height: 2;
  margin-left: 600px; 
  padding-left: 220px; 
  color: white;
}

span{
  font-size: 20px; 
  color: white; 
}

.principal_font{
font-family: "Trebuchet MS", Helvetica, sans-serif;
text-shadow: 6px 3px 0 rgb(58,80,217) , -5px 5px 0 #9b1637;
font-size: 50px;
font-weight: bold;
color:#f5a623
}

.principal_font_2{
font-family: "Trebuchet MS", Helvetica, sans-serif;
text-shadow: 6px 3px 0 rgb(58,80,217) , -5px 5px 0 #9b1637;
font-size: 30px;
font-weight: bold;
color:#f5a623
}

.opening_caption{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  text-align: center; 
  color: white;
  }

.text2{
color: black
}

.pic {
width: 3%!important
}


.buttom{
  color: #f5a623!important
}



.hero-signin {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("images/sign_in.png");
  height: 200%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
    

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("images/fc_barcelona.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
   margin-top: -50px;
}
  
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
        
.logo{
  position: absolute;
  z-index: 999;
  margin-top: -55px;
  margin-left: 20px;
  width: 120px!important
}

.containerpost{
 height: 200px!important
 }

.container_post {
border: 2px,solid #72142e;
background-color: #0f2a56;
border-radius: 15px;
padding: 16px;
margin: 5px 0
}
        
.postdiv{
  height: 250px!important
}


.footer{
text-align: right!important;
color: white;
margin-right: 18px;
font-size: 12px;
}